*{
  margin: 0;
  padding: 0;
}
footer{
  font-family: "Inter", sans-serif;
  background-color: #2C64F5;
  display: flex;
  justify-content: space-around;
}
.your_acc, .add{
  display: flex;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  flex-direction: column;
  line-height: 27px;
}
.txt{
  text-align: center;
  font-size: 15px
}
.link{
  color: #FFFFFF;
  font-size: 15px
}

