
.container{
   
    background-color: grgb(81, 81, 81);
}

h1{
    font-size: 14px;
}

.result{
    
}
.flex__l{

}

.l1{
    
}
.l2{
    
}
.l3{
    
}

.p1{
    text-align: left;
}
body{
    background-color: rgb(77, 77, 77);
}